apiVersion: apps/v1
kind: Deployment
metadata:
  name: clients-api
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: clients-api
  template:
    metadata:
      labels:
        app: clients-api
    spec:
      containers:
        - name: clients-api
          image: <ecr-repo-uri>:latest # removed after deletion and security purposes
          ports:
            - containerPort: 8080
          env:
            - name: MONGO_URI
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: MONGO_URI
